
<ion-header>
  <ion-navbar  color="lightgreen">
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>map page</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <iframe src="https://maps.mapwize.io/#/f/p/dgu_lib/stairs/t/p/dgu_lib/line1_bk1?embed=true&&z=0.5"></iframe>
  <br><br>
  <iframe id="iframe" src=""></iframe>

  \u00A0\u00A0<ion-icon name="book"></ion-icon>\u00A0\u00A0 ?„ë˜?ì„œ ì±…ì˜ ?ì„¸???„ì¹˜ë¥??•ì¸?˜ì„¸??br><br>
  \u00A0\u00A0\u00A0\u00A0 ?œì ??ì±…ê½‚?´ì˜ {{rowNo}} ë²ˆì§¸ ?‰ì— ì¡´ì¬?©ë‹ˆ??br>
  <ion-grid>
      <ion-row >
        <ion-col>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0
           
             <img width="130" height="400"   src="assets/imgs/bookshelve.png"/><br>
             <img width="130" height="400" src="assets/imgs/bookshelve.png"/>
        </ion-col>
        <ion-col >
            <br><br><br>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0
            \u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0<ion-item *ngIf="row1"><img width="50" height="50" src="assets/imgs/arrows.png"/></ion-item><br><br><br><br><br><br>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0
            \u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0<ion-item *ngIf="row2"><img width="50" height="50" src="assets/imgs/arrows.png"/></ion-item><br><br><br><br><br><br>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0
            \u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0<ion-item *ngIf="row3"><img width="50" height="50"  src="assets/imgs/arrows.png"/></ion-item><br><br><br><br><br><br>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0
            \u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0<ion-item *ngIf="row4"><img width="50" height="50"  src="assets/imgs/arrows.png"/></ion-item><br><br><br><br><br><br>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0
            \u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0<ion-item *ngIf="row5"><img width="50" height="50"  src="assets/imgs/arrows.png"/></ion-item><br><br><br><br><br><br>
            \u00A0\u00A0\u00A0\u00A0 \u00A0\u00A0
            \u00A0\u00A0 \u00A0\u00A0\u00A0\u00A0<ion-item *ngIf="row6"><img width="50" height="50"  src="assets/imgs/arrows.png"/></ion-item><br><br><br><br><br><br>
          
        </ion-col>
      </ion-row>
      
  </ion-grid>
 <!--
  <ion-row>
    <ion-col></ion-col>
    <ion-col>------------------------------------------<br>
      ì±…ì? ?„ì²´ ì±…ì¥?ì„œ --ë²ˆì§¸ ??
      --ë²ˆì§¸ ?‰ì— ?„ì¹˜?©ë‹ˆ??br>
      ------------------------------------------
    </ion-col>
    
  </ion-row>
</ion-content>
