page-camera {
iframe {
       
        width: 100%;
        height: 90%;//calc(100vh - 60px);
        border: none;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        width: max-content;
        border: green2;
    }
    .row:first-child .summarycell{
        font-weight: bold;
        text-align: center;
        border: green2;
    }
    .cell{
        overflow: auto;
        word-wrap: break-word;
        width: 27vw;
        border: 1px solid #b3b3b3;
        padding: 10px;
        text-align: right;
    }
    .cell:nth-child(2){
    }
    .cell:first-child{
        width:41vw;
        text-align: left;
        border: green2;
    }
}